/.terraform.lock.hcl
/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.32.0/windows_386/LICENSE.txt
/.terraform/providers/registry.terraform.io/hashicorp/helm/2.17.0/windows_386/LICENSE.txt
/.terraform/providers/registry.terraform.io/hashicorp/vault/5.0.0/windows_386/LICENSE.txt
/.terraform/modules/modules.json
/terraform.exe
/.terraform/terraform.tfstate
/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.32.0/windows_386/terraform-provider-azurerm_v4.32.0_x5.exe
/.terraform/providers/registry.terraform.io/hashicorp/helm/2.17.0/windows_386/terraform-provider-helm_v2.17.0_x5.exe
/.terraform/providers/registry.terraform.io/hashicorp/vault/5.0.0/windows_386/terraform-provider-vault_v5.0.0_x5.exe
